<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Use classic Web Forms validation rendering without requiring jQuery ScriptManager bundle -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    
    <!-- Custom Session-based authentication mode -->
    <authentication mode="None" />

    <!-- In-Process Session State Configuration -->
    <sessionState mode="InProc" cookieless="false" timeout="30" />

    <!-- Display detailed errors during lab development and examination -->
    <customErrors mode="Off" />

    <pages enableViewState="true">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <!-- Default Startup Document for IIS Express -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
